{% extends "layout.html" %}
{% block body %}
<div class="container">
    <h2>Vehicles</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>License plate number</th>
                <th>Nickname</th>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>First odometer</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.plate }}</td>
                <td>{{ vehicle.nickname }}</td>
                <td>{{ vehicle.make }}</td>
                <td>{{ vehicle.model }}</td>
                <td>{{ vehicle.year }}</td>
                <td>{{ vehicle.kilometers }}</td>
                <td>
                    <a href="{{ url_for('logs_form', vehicle_id=vehicle.id) }}">Add a new event for this vehicle</a>
                </td>
                {% if current_user.is_admin() %}
                <td>
                    <a href="{{ url_for('logs_for_vehicle', vehicle_id=vehicle.id) }}">Show vehicle logs</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
