{% extends "layout.html" %}

{% block body %}
<div class="container">
    <center>
        <h2>Add a new vehicle</h2>
    </center>
</div>

<div class="container">
    <div class="row align-items justify-content-center">
        <div class="col-md-d">
            <form action="{{ url_for('vehicles_create') }}" method="POST" role="form">
                <div class="form-group">
                        <label for="plate">License plate</label>
                        <input type="text" class="form-control" id="plate" name="plate" placeholder="License plate">
                            {% for error in form.plate.errors %}
                                <div class="alert alert-danger">
                                    <span>{{ error }}</span>
                                </div>
                            {% endfor %}
                        <br>
                        <label for="nickname">Nickname</label>
                        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nickname">
                            {% for error in form.nickname.errors %}
                                <div class="alert alert-danger">
                                    <span>{{ error }}</span>
                                </div>
                            {% endfor %}
                        <br>
                        <label for="make">Make</label>
                        <input type="text" class="form-control" id="make" name="make" placeholder="Make">
                            {% for error in form.make.errors %}
                                <div class="alert alert-danger">
                                    <span>{{ error }}</span>
                                </div>
                            {% endfor %}
                        <br>
                        <label for="model">Model</label>
                        <input type="text" class="form-control" id="model" name="model" placeholder="Model">
                            {% for error in form.model.errors %}
                                <div class="alert alert-danger">
                                    <span>{{ error }}</span>
                                </div>
                            {% endfor %}
                        <br>
                        <label for="year">Year</label>
                        <input type="number" class="form-control" id="year" name="year" placeholder="Year">
                            {% for error in form.year.errors %}
                                <div class="alert alert-danger">
                                    <span>{{ error }}</span>
                                </div>
                            {% endfor %}
                        <br>
                        <label for="kilometers">Odometer reading</label>
                        <input type="number" class="form-control" id="kilometers" name="kilometers" placeholder="Odometer">
                            {% for error in form.kilometers.errors %}
                                <div class="alert alert-danger">
                                    <span>{{ error }}</span>
                                </div>
                            {% endfor %}
                        <br>
                </div>
            <center>
                <button type="submit" class="btn btn-primary">Submit!</button>
            </center>
            </form>
        </div>
    </div>
</div>


{% endblock %}
