<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>VehicleLogs!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <span class="navbar-brand" mb-0 h1>VehicleLogs</span>
        {% if current_user.is_authenticated %}
        <span class="navbar-text">Logged in as: {{ current_user.name }}</span>
        <div class="nav-item">
            <a class="nav-link" href="{{ url_for('auth_logout') }}">Log out</a>
        </div>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('vehicles_index') }}">Show all vehicles</a>
                        <a class="dropdown-item" href="{{ url_for('logs_for_user') }}">Show my logs</a>
                        {% if current_user.is_admin() %}
                        <a class="dropdown-item" href="{{ url_for('users_create') }}">Create a new user</a>
                        <a class="dropdown-item" href="{{ url_for('users_index') }}">List all users</a>
                        <a class="dropdown-item" href="{{ url_for('vehicles_form') }}">Add a vehicle</a>
                        <a class="dropdown-item" href="{{ url_for('logs_index') }}">Show all logs</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>

        {% else %}
        <div class="nav-item">
            <a class="nav-link" href="{{ url_for('auth_login') }}">Log in</a>
        </div>
        {% endif %}

    </nav>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block body %}
        <p>Content</p>
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
</body>

</html>