{% extends "layout.html" %}

{% block body %}
{% if current_user.is_authenticated %}
<ul>
    <li>
        <a href="{{ url_for('users_create') }}">Create a new user</a>
    </li>
    <li>
        <a href="{{ url_for('users_index') }}">List all users</a>
    </li>
    <li>
        <a href="{{ url_for('vehicles_form') }}">Add a vehicle</a>
    </li>
    <li>
        <a href="{{ url_for('logs_index') }}">Show all logs</a>
    </li>
    <li>
        <a href="{{ url_for('vehicles_index') }}">Show all vehicles</a>
    </li>
</ul>
{% else %}
<p class="lead">Log in to use this app.</p>

{% endif %}
{% endblock %}
